/* scrollbar */
@import 'simplebar-react/dist/simplebar.min.css';

.css-14i17lh-MuiButtonBase-root-MuiIconButton-root:hover {
  background-color: transparent !important;
}
.css-tar73j-MuiButtonBase-root-MuiListItemButton-root:hover {
  background-color: transparent !important;
}

.css-7pdj6e-MuiStack-root::-webkit-scrollbar {
  display: none;
}
.projectPopoverScrollbar::-webkit-scrollbar {
  display: none;
}
.css-nonrd-MuiButtonBase-root-MuiIconButton-root:hover {
  background-color: transparent !important;
}
.css-ifo2hy {
  padding-left: 20px;
  padding-right: 20px;
}
/* Customize the scrollbar track */
::-webkit-scrollbar {
  width: 5px;
  height: 8px; /* Adjust the width as needed */
}

/* Customize the scrollbar thumb (the draggable part) */
::-webkit-scrollbar-thumb {
  background: #8f8f8f80; /* Change the color */
  border-radius: 6px; /* Round the corners */
}

/* Customize the scrollbar track on hover */
::-webkit-scrollbar-thumb:hover {
  background: #8f8f8fb4; /* Change the color on hover */
}

/* Customize the scrollbar track on the track (non-draggable area) */
::-webkit-scrollbar-track {
  background: #f0f0f0; /* Change the color */
}

/* Customize the scrollbar corner (where horizontal and vertical scrollbars meet) */
::-webkit-scrollbar-corner {
  background: #e0e0e0; /* Change the color */
}
